@charset "UTF-8";
.button{  
  float:left;
  width:200px;
  padding:20px 30px;
  margin:30px;
  text-align:center;
  font-weight:bold;
  cursor:pointer;
  transition:background .5s;
}

#success{
  background:#03a679;
  color:#f0f0f0;  
}

.notify{  
  position:absolute;
  top:0px;
  width:100%;
  height:0;  
  box-sizing:border-box;
  color:white;  
  text-align:center;
  background:#ff4759c7;
  overflow:hidden;
  box-sizing:border-box;
  transition:height .2s;
  z-index:2;
  align-items: center;
    display: flex;
    justify-content: center;
}

span#notifyType {
    font-size: medium;
    font-weight: bold;
}

#notifyType:before{
  display:block;
  margin-top:15px; 
  
}

.active{  
  height:80px;
}

