@charset "UTF-8";

body{
	background-color: white;
}


.register_box {
	padding-bottom: 30px;
	/*border-style: solid;*/
	
	align-items: stretch;
	width: 100%;

	font-size: large;
	
	width: 80%;
	margin: auto;
}

.register_box_inner_detail {
	width: 100%;
	display: flex;
	align-items: center;
	
}

.input_width100 {
	font-size: 0.9rem;
	padding: 3px 3px;
    width: -webkit-fill-available;
	border-radius: 4px;
	border-color: ghostwhite;
}


.select_width50 {
	font-size: 0.9rem;
	padding: 5px 3px;
	border-radius: 4px;
}

.select_width100 {
	font-size: 0.9rem;
	padding: 5px 3px;
	width: -webkit-fill-available;
	border-radius: 4px;
}

.checkbox_size {
	zoom: 1.5;
}

.table_button_group {
	text-align: right;
}