<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanium.mapper.ActionRecommendMapper">
<select id="getList"
		resultType="com.hanium.domain.ActionRecommendVO">
	select * from ActionRecommend;
	</select>
	<select id="getList_ac"
		resultType="com.hanium.domain.ActionRecommendVO">
	select * from ActionRecommend where AR_no not in (select rc.AR_no from Action as ac, ActionRecommend as rc where ac.AC_no = rc.AR_no);
	</select>
	<select id="read_DTO"
		resultType="com.hanium.domain.ActionRecommendDTO">
		select * from Vulnerability as v, ControlledItems as c
		where v.vul_ci_id = c.CI_detail_id and Vul_id=#{Vul_id};
	</select>
	<select id="read"
		resultType="com.hanium.domain.ActionRecommendVO">
		select * from ActionRecommend where AR_no= #{AR_no}
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="AR_no">
		insert
		into ActionRecommend
		(AR_daID,AR_daName,AR_daSystemSW,AR_ActionType,AR_title,AR_issue,AR_regDept,RegistrarID)
		values (#{AR_daID}, #{AR_daName}, #{AR_daSystemSW}, #{AR_ActionType},
		#{AR_title},#{AR_issue},#{AR_regDept},#{RegistrarID})
	</insert>
	<update id="update">
		update ActionRecommend
		set AR_daID=#{AR_daID},
		AR_daName=#{AR_daName}
		AR_daSystemSW=#{AR_daSystemSW}
		AR_title=#{AR_title}
		AR_issue=#{AR_issue}
		RegistrarID=#{RegistrarID}
		where AR_no=#{AR_no}
	</update>

</mapper>