<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanium.mapper.BOPMapper">
	<select id="getList" resultType="com.hanium.domain.BOPVO">
		select * from BOP;
	</select>
	<select id="read" resultType="com.hanium.domain.BOPVO">
		select * from BOP where bopNo =
		#{bopNo}
	</select>
	<insert id="insert">
		insert into BOP
		(bopNo,bopAdverseEffectsContent,bopPowergenStop,bopPlantStatusInfo,bopDeepProtectiContent)
		values (#{bopNo},#{bopAdverseEffectsContent}, #{bopPowergenStop}, #{bopPlantStatusInfo}, #{bopDeepProtectiContent})
	</insert>
	<update id="update">
		update BOP
		set bopAdverseEffectsContent=#{bopAdverseEffectsContent},
		bopPowergenStop=#{bopPowergenStop}
		bopPlantStatusInfo=#{bopPlantStatusInfo}
		bopDeepProtectiContent=#{bopDeepProtectiContent}
		where bopNo=#{bopNo}
	</update>
</mapper>