<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanium.mapper.DAMapper">
	<!-- <sql>코드는 <include>로 사용할 수 있음 -->

	<sql id="criteria">
		<if test="type != null">
			<if test="type == 'I'.toString()">
				AND daid LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'N'.toString()">
				AND daname LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="getList" resultType="com.hanium.domain.DAVO">
		select * from DA WHERE daUse = 1
		ORDER BY daid;
	</select>
	<select id="getListWithPaging"
		resultType="com.hanium.domain.DAVO">
		SELECT *
		FROM DA
		WHERE daUse = 1
		<include refid="criteria"></include>
		ORDER BY daid
		limit #{startIndex},#{endIndex};
	</select>
	<select id="getVulTargetList_CI"
		resultType="com.hanium.domain.DAVO">
		select * from DA where daManufacturer=#{daManufacturer} and daModel=#{daModel} and
		daSystemSW=#{daSystemSW} AND daid NOT IN (select Vul_daID from ValTargetFacility where vul_id=#{vul_id}) ;
	</select>
	<select id="read" resultType="com.hanium.domain.DAVO">
		select * from DA where daid =
		#{daid}
	</select>
	<select id="count" resultType="int">
		SELECT COUNT(daid)
		FROM DA where daUse = 1
		<include refid="criteria"></include>

	</select>
	<insert id="insert">
		insert into DA
		(daid,daname,daptype,daPDetailType,daFunc,daFuncType,daImpact,daFacilitiesType,
		daFacilitiesPurposeOfUse, daSystemSW,daReportIF,daStorageDevice,
		daModifyOPAvailability,daModifiableOperationData,daHMIType,daIdentifyType,
		daManufacturer, daModel, daRegistrarID, daLastUpdateID,
		daUpdateDate)
		values
		(#{daid},#{daname},#{daptype},#{daPDetailType},#{daFunc},#{daFuncType},#{daImpact},
		#{daFacilitiesType},#{daFacilitiesPurposeOfUse},#{daSystemSW},#{daReportIF},#{daStorageDevice},
		#{daModifyOPAvailability},#{daModifiableOperationData},#{daHMIType},#{daIdentifyType},
		#{daManufacturer},#{daModel},#{daRegistrarID},#{daLastUpdateID},
		#{daUpdateDate})
	</insert>
	<update id="update">
		update DA
		set
		daname=#{daname},
		daptype=#{daptype},
		daPDetailType=#{daPDetailType},
		daFunc=#{daFunc},
		daFuncType=#{daFuncType},
		daImpact=#{daImpact},
		daFacilitiesType=#{daFacilitiesType},
		daFacilitiesPurposeOfUse=#{daFacilitiesPurposeOfUse},
		daSystemSW=#{daSystemSW},
		daReportIF=#{daReportIF},
		daStorageDevice=#{daStorageDevice},
		daModifyOPAvailability=#{daModifyOPAvailability},
		daModifiableOperationData=#{daModifiableOperationData},
		daHMIType=#{daHMIType},
		daLastUpdateID=#{daLastUpdateID},
		daUpdateDate=#{daUpdateDate}
		where daid=#{daid}
	</update>
	<update id="updateIdentifyType">
		UPDATE DA
		SET daIdentifyType=#{daIdentifyType}
		WHERE
		daid=#{daid};
	</update>

	<update id="delete"> <!-- 삭제 sql -->
		update DA
		set daUse = 0
		where daid =#{daid};
	</update>
	<select id="seq" resultType="int">
		select count(*) from DA;
	</select>
	<select id="modelList" resultType="String">
		select distinct daModel from
		DA where daModel is not null;
	</select>
	<select id="manufacturerList" resultType="String">
		select distinct
		daManufacturer from DA where daManufacturer is not null;
	</select>
</mapper>