<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanium.mapper.EmpMapper">
	<select id="getList" resultType="com.hanium.domain.EmpVO">
		select * from emp;
	</select>
	<select id="read" resultType="com.hanium.domain.EmpVO">
		select * from emp where empid =
		#{empid}
	</select>
	<insert id="insert">
		insert into emp (empid,empDeptCode)
		values
		(#{empid},#{empDeptCode})
	</insert>
	<update id="update">
		update emp
		set empid=#{empid},
		empDeptCode=#{empDeptCode}
		where empid=#{empid}
	</update>
</mapper>