<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanium.mapper.RepresentCodeMapper">
	<select id="getList" resultType="com.hanium.domain.RepresentCodeVO">
		select * from RepresentCode;
	</select>
	<select id="getReCodeList" resultType="com.hanium.domain.RepresentCodeVO">
		select * from RepresentCode where D_code IS NULL order by D_code;
	</select>
	<select id="getDeCodeList" resultType="com.hanium.domain.RepresentCodeVO">
		select * from RepresentCode 
		where D_code IS NOT NULL 
		and R_code = #{R_code} order by R_code;
	</select>
	<select id="checkExistRecode" resultType="int">
		select count(represent_id) cnt from RepresentCode where R_code = #{R_code};
	</select>
	<select id="checkExistDecode" resultType="int">
	select COUNT(*) from RepresentCode where R_code = #{R_code} AND D_code=#{D_code};
	</select>
	<select id="read" resultType="com.hanium.domain.RepresentCodeVO">
		select * from RepresentCode where represent_id =#{represent_id}
	</select>
	<insert id="insert">
		insert into RepresentCode (R_code,R_codeName,D_code,D_codeName)
		values
		(#{R_code},#{R_codeName},#{D_code},#{D_codeName}) 
	</insert>
	
	<update id="update">
		update RepresentCode
		set R_codeName=#{R_codeName},
		D_codeNamee=#{D_codeName}
		where R_code=#{R_code}
	</update>
</mapper>