<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanium.mapper.UserMapper">
	<sql id="criteria">
		<if test="type != null">
			<if test="type == 'N'.toString()">
				AND username LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'I'.toString()">
				AND userid LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'P'.toString()">
				AND userptype LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'D'.toString()">
				AND userdept LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="getList" resultType="com.hanium.domain.UserVO">
		select * from user where
		permission=1;
	</select>
	<select id="getListWithPaging"
		resultType="com.hanium.domain.UserVO">
		select * from user where
		permission=1
		<include refid="criteria"></include>
		order by userid limit #{startIndex},#{endIndex};
	</select>
	<select id="getUserRequest"
		resultType="com.hanium.domain.UserVO">
		<![CDATA[
			SELECT userid,userptype,userdept,username,permission,valid,reqdate 
			from user 
			where permission=0 and userdept!="관리자 그룹"]]>
		<include refid="criteria"></include> 
			<![CDATA[
			 order by reqdate desc;
		]]>
	</select>
	<select id="getAdminRequest"
		resultType="com.hanium.domain.UserVO">
		<![CDATA[
			SELECT userid,userptype,username,permission,valid,reqdate 
			from user 
			where permission=0 and userdept="관리자 그룹"
			]]>
		<include refid="criteria"></include> 
			<![CDATA[
			order by reqdate desc;
		]]>
	</select>
	<select id="findUserValidity"
		resultType="com.hanium.domain.UserVO">
		select * from (select * from emp, dept
		where dept.deptcode = emp.empDeptCode) as emp, user
		where emp.empid = user.userid and userid=#{userid};
	</select>
	<select id="read" resultType="com.hanium.domain.UserVO"><!-- login -->
		select * from user where userid =
		#{userid} and valid=1 and
		permission=1;
	</select>
	<select id="count" resultType="int">
		SELECT COUNT(userid)
		FROM user where permission = 1
		<include refid="criteria"></include>
		;
	</select>
	<select id="get" resultType="com.hanium.domain.UserVO">
		select * from user where userid =
		#{userid};
	</select>
	<select id="login" resultType="com.hanium.domain.UserVO">
		SELECT *
		FROM user
		WHERE
		userid=#{userid} and userpw=#{userpw} and permission=1;
	</select>
	<insert id="insert">
		insert into user
		(userid,userptype,userdept,username,userpw,useremail,userbirth,userphone)
		values
		(#{userid},#{userptype},#{userdept},#{username},#{userpw},#{useremail},#{userbirth},#{userphone})
	</insert>
	<update id="update">
		update user
		set username=#{username},
		useremail=#{useremail},
		userbirth=#{userbirth},
		userphone=#{userphone}
		where userid=#{userid}
	</update>
	<update id="userValidityCheck">
		UPDATE user
		SET valid=1
		WHERE userid = #{userid}
	</update>
	<update id="userPermission">
		update user
		set permission=1
		where userid=#{userid} and
		valid=1;
	</update>
	<update id="updateDept">
		UPDATE user
		SET userptype = #{userptype} ,
		userdept=#{userdept}
		WHERE userid = #{userid};
	</update>
	<update id="updatePassword">
		update user
		set
		userpw=#{userpw}
		where userid=#{userid}
	</update>
	<update id="userDropout">
		UPDATE user
		SET permission=3
		WHERE userid = #{userid}
	</update>
</mapper>