<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanium.mapper.ValTargetFacilityMapper">
	<select id="getList"
		resultType="com.hanium.domain.ValTargetFacilityVO">
		select * from ValTargetFacility;
	</select>
	<select id="read"
		resultType="com.hanium.domain.ValTargetFacilityVO">
		select * from ValTargetFacility where Vul_targetId =
		#{Vul_targetId}
	</select>
	<insert id="insert">
		insert
		into ValTargetFacility
		(Vul_daID,Vul_daName,vul_id)
		values
		(#{Vul_daID},#{Vul_daName},#{vul_id});
	</insert>
	<update id="update">
		update ValTargetFacility
		set Vul_daID=#{Vul_daID},
		Vul_daName=#{Vul_daName}
		ValFacilitiesRegDate=#{ValFacilitiesRegDate}
		where Vul_targetId=#{Vul_targetId}
	</update>
	<select id="targetDAList" resultType="com.hanium.domain.DAVO">
		select * from DA where daid in 
		(select Vul_daID from ValTargetFacility where
		vul_id = #{vul_id});
	</select>
</mapper>